<h1>Bernadette's Intro Project</h1>
<p><%= link_to 'About', controller: 'about' %></p>
<p><%= link_to 'Foods List', controller: 'foods' %></p>
<p><%= link_to 'Ingredients List', controller: 'ingredients' %></p>
<p><%= link_to 'Beers List', controller: 'beers' %></p>
